h1 {
    font-family: Helvetica, Helvetica;
  }
  
  body {
    background-color: blue;
  }

nav ul {
    list-style: none;
    font-family: Helvetica, Helvetica;
    font-size: 20px;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
